.title{
    font-size: 18px ;
    text-shadow: 3px 3px 10px gray;
}


.submenu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}
.submenuLi{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    line-height: 41px;
    transition: all 300ms;
}
.submenuLi:hover{
    color: aqua;
}